@import "../../styles/constants.scss";

.header {
  color: white;
  border: 2px solid $blue;
  background-color: $blue;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-family: $font-header;
    font-weight: 800;
    font-size: 32px;
    height: 38px;
    justify-self: center;
  }
}
