@import "../../styles/constants.scss";

.router {
  position: absolute;
  border-radius: 50%;
  border: 2px solid black;
  background-color: $light-blue;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-22px, -22px);
  cursor: default;
  transition: 0.2s;

  &__main {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 24px;
      color: white;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
  }

  &__text {
    transform: translate(0, -6px);
  }

  &:hover {
    opacity: 1;
    border: 2px solid white;

    &__main {
      color: white;
    }
  }
}
